<div class="detail-client-container">
	<div style="display: flex; flex-direction: row;">
		<img style="width: 14vw; height: 14vw" src={{user.general.avatar}}>
		<div class="detail-client-names">
			<span style="color: #fff; font-size: 2.4vw">{{user.general.firstName}} {{user.general.lastName}}</span>	
			<div class="detail-job">
				<span style="font-size: 1.5vw">{{user.job.title}}</span>
				<p style="font-size: 1.5vw">{{user.job.company}}</p>
			</div>
		</div>
	</div>
	<div class="detail-client-home">
		<span>{{user.address.street}}</span>
		<span>{{user.address.city}} {{user.address.zipCode}}, {{user.address.country}}</span>
		<span style="color: #000">{{user.contact.phone}}</span>
		<span class="email">{{user.contact.email}}</span>
	</div>
</div>